@import "../../static/style/mixin.scss";
@import "../../static/style/variable.scss";

.menu {
    &__wrapper {
        @include flex($align: center);
        @include transition($property: background-color);
        border-radius: 10rem;
        cursor: pointer;
        width: min-content;
        padding: .75rem;

        &:hover {
            background-color: $hover;
        }
    }

    &__text {
        @include text($size: 1.25rem);
        margin: 0 1rem;
        line-height: 1.25;
    }

    &__icon {
        @include icon($width: 1.5rem, $height: 1.5rem)
    }

    &--active {
        background-color: $primary-blue-alpha-1;
        svg {
            fill: $primary-blue !important;
        }
        p {
            color: $primary-blue;
        }
    }

}