@import "../../static/style/mixin.scss";

.name {

    position: relative;

    &__wrapper {
        @include flex($align: center);
        gap: 5px;

    }

    &__wrapper:hover>&__displayname {
        text-decoration: underline !important;
    }
    
    &__displayname__hover {
        text-decoration: none;
    }

}

.profile {
    @include flex($align: flex-end);
    position: absolute;
    top: 0;
    left: -3.5rem;
    z-index: 10;
    animation: opacity 200ms ease-out;

    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


}