@import "../../static/style/mixin.scss";

.profile {

    &__avatar {
        margin-right: .75rem;
    }

    &__wrapper {
        @include flex($justify: space-between, $align: center);
        width: 100%;
        cursor: pointer;
        padding: 1rem;
    }

    &__disname {
        @include flex($align: center);
        @include title();
    }

    &__username {
        @include meta();
    }

    &__info {
        @include flex($align: center);
    }

    &__userinfo {
        @include flex($direction: column);
    }

}