@import "../../static/style/mixin.scss";

.profile {

    &__wrapper {
        @include flex($justify: space-between);
        width: 100%;
        cursor: pointer;
        padding: .5rem 1rem;
    }

    &__name {
        &__wrapper {
            @include flex($direction: column);
            gap: 3px;
        }
    }

    &__info {
        @include flex($align: center);
        gap: .75rem;
    }


}