@import "../../static/style/mixin.scss";

.profile {

    &__wrapper {
        @include flex();
        gap: 1rem;
        width: 100%;
        cursor: pointer;
        padding: .5rem 1rem;
    }

    &__name {
        &__wrapper {
            @include flex($direction: column);
            gap: 3px;
        }
    }

    &__btn {
        margin-left: auto;
    }

    &__info {
        @include flex($direction: column);
        gap: .75rem;
    }


}