@import "../../static/style/mixin.scss";


.bio {
    @include text($size: .9375rem);
    text-align: left;
    margin:.75rem 0;
    text-transform: title;

    a {
        color: $primary-blue;
    }

}