@import "../../static/style/mixin.scss";


.widgetBar {
    position: fixed;
    top: 0;
    width: 348px;


    &__header {
        height: 3.375rem;
        padding: .375rem 1rem;
        z-index: 10;
        position: sticky;
        top: 0;
        background-color: $white;
    }

    &__body {
        @include padding($padding: 1rem);
    }

}