@import "../../static/style/mixin.scss";
@import "../../static/style/variable.scss";



.button {
    @include flex($justify: center, $align: center);
    @include noBorder();
    @include text($size: .875rem, $color: $white);
    @include buttonBackground();
    @include textBold();
    border-radius: 10rem;
    cursor: pointer;
    padding: 0 1rem;
    height: 2rem;
    line-height: 1;
    span {
    }
}