@import "../../static/style/mixin.scss";
@import "../../static/style/variable.scss";



.button {
    @include flex($justify: center, $align: center);
    @include noBorder();
    @include text($size: 1rem, $color: $white);
    @include buttonBackground();
    @include textBold();
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    cursor: pointer;

}