@import "../../static/style/mixin.scss";


.sidebar {
    margin-top: 1rem;
    position: sticky;
    top: 1rem;


    &__wrapper {
        @include flex($direction: column);
        position: sticky;
        top: 1rem;
        width: 100%;
    }

    &__logo {
        padding: 0 .75rem;
    }

    &--tweet-btn {
        @include padding($left: 2rem, $right: 2rem);
        width: 90%;
        height: 3.25rem;
        background-color: $primary-blue;
        font-size: 1.0625rem;
        margin-top: 1.5rem;
    }
    
    &__options {
        position: relative;
        &__wrapper {
            position: absolute;
            bottom: 100%;
            left: 0;
        }
        &__active {
            border-color:  $primary-blue-alpha-1;
        }

    }
}

.link {
    text-decoration: none;
    display: block;
}

.active {
    background-color: $primary-blue;
}

