@import "../../static/style/mixin.scss";


.tweetaction {
    &__wrapper {
        @include flex($justify: space-around);
        padding: .5rem 0;
        border-bottom: 1px solid $light-gray;
    }

    &__icon {
        @include icon($width: 1.40625rem, $color: $gray);

        &__wrapper {
            @include transition();
            width: 2.40625rem;
            height: 2.40625rem;
            padding: .5rem;
            border-radius: 50%;
            cursor: pointer;
            

            &:hover {
                background-color: $primary-blue-alpha-1;

                svg {
                    fill: $primary-blue !important;
                }
            }

        }
        
    }

}