.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .75rem 1rem;
  width: 100%;
  height: 100%;
}

.input__group {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-box-shadow: 0 0 0 1px #cfd9de;
          box-shadow: 0 0 0 1px #cfd9de;
  border-radius: .25rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.input__group:hover {
  cursor: text;
}

.input__group:focus-within, .input__group:focus {
  -webkit-box-shadow: 0 0 0 2px #1d9bf0;
          box-shadow: 0 0 0 2px #1d9bf0;
}

.input__group--error {
  -webkit-box-shadow: 0 0 0 2px #f4212e !important;
          box-shadow: 0 0 0 2px #f4212e !important;
}

.input__label {
  font-size: 1.0625rem;
  color: #52636f;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: top, font-size, color, -webkit-transform;
  transition-property: top, font-size, color, -webkit-transform;
  transition-property: top, font-size, transform, color;
  transition-property: top, font-size, transform, color, -webkit-transform;
  position: absolute;
  top: 1.28125rem;
  left: .5rem;
  line-height: .9375rem;
  cursor: text;
  text-transform: capitalize;
}

.input__label__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input__field {
  padding: 1.75rem .5rem .5rem .5rem;
  height: 100%;
}

.input__field:not(textarea):not([type="file"]) {
  height: 3.5rem;
}

.input__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input__error__message::first-letter {
  text-transform: uppercase;
}

.input__error__message {
  font-size: 0.8125rem;
  color: #f4212e;
  padding-left: .5rem;
  margin-top: .1rem;
}

.input__length {
  font-size: 0.8125rem;
  color: #52636f;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.input__group:focus-within > .input__label__wrapper > .input__label {
  top: .5rem;
  font-size: 0.8125rem;
  -webkit-transform: none;
          transform: none;
  color: #1d9bf0;
}

.input__field:not(:placeholder-shown):not([type="file"]) ~ .input__label__wrapper > .input__label {
  top: .5rem;
  font-size: 0.8125rem;
  -webkit-transform: none;
          transform: none;
}

.input__group:focus-within > .input__label__wrapper > .input__label--error {
  color: #f4212e;
}

textarea.input__field {
  width: 100%;
  height: 100%;
  resize: none;
}
/*# sourceMappingURL=InputBox.module.css.map */