@use "../../static/style/global.scss";
@import "../../static/style/mixin.scss";
@import "../../static/style/variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}

html {
    position: relative;
    overflow: auto;
}

body {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1rem;
    font-size: 1rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.logo {
    @include icon($width: 2rem, $height: 2rem, $color: $primary-blue);
}

#modal {
    @include flex($justify: center, $align: center);
}

#root,
.app {
    width: 100%;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}