@import "./variable.scss";

@mixin button($bg: $primary-dark, $font-size: 14px, $width: 4.8125rem, $height: 2rem, $padding: 0 1rem) {
    min-width: min-content;
    width: $width;
    height: $height;
    background-color: $bg;
    border: none;
    outline: none;
    padding: $padding;
    border-radius: 10rem;
}

@mixin input($background-color: transparent, $font-size: 1rem, $padding: 0, $margin: 0) {
    outline: none;
    border: none;
    font-size: $font-size;
    padding: $padding;
    margin: $margin;
    width: 100%;
    background-color: $background-color;
}

@mixin text($size: .875rem, $color: $primary-dark) {
    font-size: $size;
    color: $color;
}

@mixin icon($color: $primary-dark, $width: 1rem, $height: 1rem) {
    width: $width !important;
    height: $width !important;
    fill: $color !important;
    pointer-events: none;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin textBold($weight:700) {
    font-weight: $weight;
}

@mixin transition($duration:200ms, $property: all, $delay: null, $timing-function: ease-in-out) {
    transition-delay: $delay;
    transition-duration: $duration;
    transition-property: $property;
    transition-timing-function: $timing-function;
}

@mixin noBorder() {
    border: none;
    outline: none;
}

@mixin borderRadius($value: .5rem) {
    border-radius: $value;
}

@mixin buttonBackground($background-color: $primary-dark) {
    background-color: $background-color;
}

@mixin background($background-color: null) {
    background-color: $background-color;
}

@mixin padding($padding: null, $top: null, $left: null, $bottom: null, $right: null) {
    @if $padding {
        padding: $padding;
    }

    @else {
        padding-top: $top;
        padding-bottom: $bottom;
        padding-right: $right;
        padding-left: $left;
    }
}

@mixin margin($margin: null, $top: null, $left: null, $bottom: null, $right: null) {
    @if $margin {
        margin: $margin;
    }

    @else {
        margin-top: $top;
        margin-bottom: $bottom;
        margin-right: $right;
        margin-left: $left;
    }
}

@mixin meta($font-size: .9375rem, $color: $gray) {
    font-size: $font-size;
    color: $color;
}

@mixin title($font-size: .9375rem, $color: $primary-dark, $weight: 700) {
    font-size: $font-size;
    color: $color;
    font-weight: $weight;
}

@mixin mainGridWrapper() {
    display: grid;
    grid-template-columns: 251px 968px;
    // grid-template-columns: 246px 598px 348px;
    grid-gap: 1.375rem;
}

@mixin link($color: $primary-blue) {
    text-decoration: none;
    color: $color;
    font-size: .9375rem;
}

@mixin feedHeader () {
    background-color: $white;
    border-bottom: 1px solid $light-gray;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 1rem;
    min-height: 3.375rem;
}