$primary-dark: rgb(15, 23, 25);
$primary-blue: rgb(29, 155, 240);
$primary-blue-alpha-1: rgba(29, 155, 240, .1);
$primary-blue-alpha-2: rgba(29, 155, 240, .2);

$white: #ffffff;
$hover: rgb(230, 231, 231);
$light-gray: rgb(239, 243, 244);
$light-gray-2: rgb(247, 249, 249);
$gray: #536471;
$gray-2: rgb(101, 119, 134);
$gray-2-alpha-20: rgba(101, 119, 134, .2);
$gray-2-alpha-15: rgba(101, 119, 134, .15);

$black-alpha-33: rgba(0, 0, 0, 0.03);