$primary-dark: rgb(15, 20, 25);
$primary-blue: rgb(29, 155, 240);
$primary-blue-alpha-1: rgba(29, 155, 240, .1);
$primary-blue-alpha-2: rgba(29, 155, 240, .2);

$white: #ffffff;
$hover: rgb(230,231,231);
$light-gray: rgb(239, 243, 244);