@import "../../static/style/mixin.scss";
@import "../../static/style/variable.scss";


.post {

    &__container {
        border-width: 1px 0;
        border-color: $light-gray;
        border-style: solid;
    }

    &__wrapper {
        padding: .75rem 1rem;
        cursor: pointer;
        width: 100%;
        display: block;
        &:hover {
            background-color: $light-gray
        }
    }

    &__avatar {
        @include flex();

        &__wrapper {
            @include flex($direction: column);
            height: 100%;
        }
    }


    &__main {
        @include flex();
        position: relative;
        width: 100%;
        gap: 1rem;

    }

    &__pin {
        @include flex($align: center);
        margin-left: 2.5rem;
        gap: .5rem;

        &__icon {
            @include icon($color: $gray);
        }

        &__text {
            @include meta($font-size: 0.8125rem);
            @include textBold();
        }
    }

    &__link {
        position: absolute;
        left: 23px;
        bottom: -18px;
        width: 2px;
        height: calc(100% - 35px);
        background-color: #cfd9de;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    &__body {
        @include flex($direction: column);
        flex-grow: 1;
    }

    &__header {
        @include flex($align: center, $justify: space-between);
        width: 100%;
        position: relative;
        height: 1.5rem;

        &__info {
            @include flex($align: center);
            gap: 5px;

            &__date {
                &__wrapper {
                    @include meta();
                }

                &__separator {
                    margin: 0 .275rem;
                }
            }

        }

        &__more-icon {
            @include icon($width: 1.171875rem, $color: $gray)
        }

    }

    &__content {
        margin-bottom: .3rem;
        text-align: start;
        width: 100%;
    }

    &__footer {
        @include flex($align: center, $justify: space-between);
        margin-left: -0.5rem;
        max-width: 26.5625rem;
        width: 100%;

        &__analytics {
            @include flex($align: center);
            @include text($size: .8125rem, $color: $gray);
            cursor: pointer;


            &--reply,
            &--share,
            &--retweet,
            &--like {
                &:hover {
                    div {
                        background-color: $primary-blue-alpha-1;

                        svg {
                            @include icon($color: $primary-blue, $width: 1.171875rem);
                        }
                    }

                    span {
                        color: $primary-blue;
                    }
                }
            }

            span {
                @include margin($left: .25rem);
            }
        }

        &__icon {
            @include icon($width: 1.171875rem, $color: $gray);
        }
    }

    &__icon__wrapper {
        @include flex();
        @include padding($padding: .5rem);
        @include transition();
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &--active {
            background-color: $primary-blue-alpha-1;

            svg {
                @include icon($width: 1.171875rem, $color: $primary-blue)
            }
        }
    }

    &__user {

        &__displayName {
            @include text($size: .9375rem);
            @include textBold();
        }

        &__verified {
            @include icon($width: 1.171875rem, $color: $primary-blue);

        }

        &__username {
            @include text($size: .9375rem, $color: $gray);
        }
    }

    &__options {
        &__wrapper {
            position: absolute;
            top: 3rem;
            right: 0;
        }
    }


}