@import "../../static/style/mixin.scss";

.wrapper {

    // @include mainGridWrapper();
    .feed {
        &__header {
            @include feedHeader();
            @include flex($align: center);

            &__container {
                @include flex($align:center);
            }
        }

        &__back {
            width: 2rem;
            height: 2rem;
            position: relative;
            margin: 0 1rem 0 0;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: $hover;
            }

            &__icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__username {
            font-size: 1.25rem;
        }

        &__info {
            @include flex($direction: column);
        }

        &__tweetcount {
            @include meta($font-size: .8125rem);
        }

    }
}