@import "../../static/style/mixin.scss";


.modal {
    @include flex($justify: center, $align: center);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);


    &__wrapper {
        @include flex($direction: column);
        background-color: #fff;
        width: 600px;
        border-radius: 1rem;
    }

    &__header {
        @include flex($align: center);
        width: 100%;
        padding: .8rem;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    &__close {
        &__icon {
            @include icon($width: 1.5rem);
        }

        &__wrapper {
            @include flex($align: center, $justify: center);
            width: 2.125rem;
            height: 2.125rem;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background-color: $hover;
            }

        }
    }

    &__title {
        &__wrapper {
            flex-grow: 1;
            margin-left: 1.5rem
        }

        &__text {
            @include flex();
            font-size: 1.25rem;
            font-weight: 600;
            color: $primary-dark;
        }
    }

    &__body {
        width: 100%;
    }
}