@import "../../static/style/mixin.scss";

.profile__tweet__wrapper {
    @include flex($direction: column);
    border-width: 1px 0;
    border-color: $light-gray;
    border-style: solid;
}

.message {
    width: 25rem;
    padding: 0 2rem;
    margin: auto;
    &__wrapper {
        margin: 3rem 0;
    }
    &__main {
        @include title($font-size: 2rem, $weight: 800);
        margin: 0 0 .5rem;
    }
    &__meta {
        @include meta();
    }
}