@import "../../static/style/variable.scss";
@import "../../static/style/mixin.scss";


.feed {
    border-width: 0 1px;
    border-color: $light-gray;
    border-style: solid;

    &__header {
        @include background($background-color: $white);
        border-bottom: 1px solid $light-gray;
        position: sticky;
        top: 0;
        z-index: 10;
        padding: .75rem 0;
    }
    
    &__tweetbox {
        border-bottom: 1px solid $light-gray;
    }
    
    &__post {
        border-bottom: 1px solid $light-gray;
        position: relative;
    }

}