@import "../../static/style/mixin.scss";


.tweet {
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    &__profile {
        @include flex($justify: space-between);
    }

    &__content {
        @include text($size: 1.4375rem);
        margin: 1rem 0 0 0;
    }

    &__post {
        @include text($size: 1.5rem);
        line-height: 1.75rem;

        img[src*="emoji"] {
            width: 1.724375rem;
            height: 1.724375rem;
        }
    }

    &__date {
        @include flex($align: center);
        @include meta();
        padding: 1rem 0;
        border-bottom: 1px solid $light-gray;
        gap: 5px;
    }

}