@import "../../static/style/mixin.scss";


.search {
    &__bar {
        @include padding($padding: .563rem);
        @include background($background-color: $light-gray);
        border-radius: 10rem;

        &:focus-within {
            background-color: $white;
            box-shadow: 0 0 0 1px $primary-blue;
        }

        &__wrapper {
            @include flex($align: center);
            input {
                font-size: 1rem;
                line-height: 1rem;
            }
        }

        &__icon {
            @include icon($width: 1.5rem, $color: $gray);
            @include margin($left: .5rem, $right: .5rem);

        }
    }

    &__suggestion {
        @include flex();
        margin-top: 1rem;
        
        &__list {
            @include flex($direction: column);
            @include listWrapper();
            width: 100%;
            
            &__item {
                @include meta();
                @include listItem();
            }

        }

    }

}