@import "../../static/style/mixin.scss";


.follow {
    @include flex($align: center);
    gap: .875rem;

    &__wrapper {
        @include meta();
    }

    &--count {
        @include textBold();
        color: $primary-dark;
        margin: 0 5px 0 0;
    }

}