@import "../../static/style/mixin.scss";


.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: inherit;
    position: absolute;
    inset: 0;
    width: inherit;

    &__image {
        width: inherit;
        height: 100%;
        object-fit: cover;

        &__container {
            background-image: url("../../assets/images/lohp_en_1302x955.png");
            position: relative;
        }

        &__icon {
            @include center();
            @include icon($width: 20rem, $color: $white);
        }
    }
    
    &__right {
        background-color: $primary-dark;
        padding: 1rem;

        &__icon {
            @include icon($width: 4rem, $color: $white);
        }

    }

    &__text {


        &__h1 {
            font-size: 4rem;
            font-weight: 800;
            color: $primary-light;
            margin: 3rem 0;
        }

        &__p {
            font-size: 1.8rem;
            font-weight: 800;
            margin-bottom: 2rem;
            color: $primary-light;
        }

    }

    &__login {
        &__button {
            button {
                background-color: $primary-light;
                color: $primary-dark;
                gap: 5px;
                width: 12.8rem;
            }

            &__icon {
                color: $primary-blue;
            }
        }
    }

}